<h1>Editing relax sound</h1>

<%= render "form", relax_sound: @relax_sound %>

<br>

<div>
  <%= link_to "Show this relax sound", @relax_sound %> |
  <%= link_to "Back to relax sounds", relax_sounds_path %>
</div>
