<p style="color: green"><%= notice %></p>

<h1>Relax sounds</h1>

<div id="relax_sounds">
  <% @relax_sounds.each do |relax_sound| %>
    <%= render relax_sound %>
    <p>
      <%= link_to "Show this relax sound", relax_sound %>
    </p>
  <% end %>
</div>

<%= link_to "New relax sound", new_relax_sound_path %>
